.vscode/
ubuntu-*
busybox-*
linux-5.19.17/**
linux-6.13.3/
edk2/**

!edk2/ShellPkg/
!edk2/ShellPkg/ShellPkg.dsc

!edk2/OvmfPkg/
!edk2/OvmfPkg/OvmfPkgX64.dsc
!edk2/OvmfPkg/OvmfPkgX64.fdf
!edk2/OvmfPkg/AcpiTables/
!edk2/OvmfPkg/AcpiTables/**

!linux-5.19.17/.config

!linux-5.19.17/drivers/
!linux-5.19.17/drivers/rdma/
!linux-5.19.17/drivers/rdma/rdma_swap/
!linux-5.19.17/drivers/rdma/rdma_swap/rdma_core.c

!linux-5.19.17/drivers/firmware/
!linux-5.19.17/drivers/firmware/efi/
!linux-5.19.17/drivers/firmware/efi/Makefile
!linux-5.19.17/drivers/firmware/efi/Kconfig
!linux-5.19.17/drivers/firmware/efi/oemh_table.c

!linux-5.19.17/drivers/acpi/
!linux-5.19.17/drivers/acpi/Makefile
!linux-5.19.17/drivers/acpi/Kconfig
!linux-5.19.17/drivers/acpi/oemh_table.c

!linux-5.19.17/include/
!linux-5.19.17/include/linux/
!linux-5.19.17/include/linux/syscalls.h
!linux-5.19.17/include/linux/sched.h
!linux-5.19.17/include/linux/kv_pair.h
!linux-5.19.17/include/linux/vgettask.h
!linux-5.19.17/include/linux/rdma_swap.h
!linux-5.19.17/include/linux/rdma_core.h

!linux-5.19.17/kernel/
!linux-5.19.17/kernel/fork.c
!linux-5.19.17/kernel/sys.c
!linux-5.19.17/kernel/exit.c
!linux-5.19.17/kernel/rdma_swap_ctrl.c
!linux-5.19.17/kernel/sched/
!linux-5.19.17/kernel/sched/core.c

!linux-5.19.17/fs/
!linux-5.19.17/fs/ramfs/
!linux-5.19.17/fs/ramfs/inode.c
!linux-5.19.17/fs/ramfs/file-mmu.c
!linux-5.19.17/fs/ramfs/file-nommu.c

!linux-5.19.17/arch/
!linux-5.19.17/arch/x86/
!linux-5.19.17/arch/x86/entry/
!linux-5.19.17/arch/x86/entry/syscalls/
!linux-5.19.17/arch/x86/entry/syscalls/syscall_64.tbl

!linux-5.19.17/arch/x86/entry/vdso/
!linux-5.19.17/arch/x86/entry/vdso/vdso.lds.S

!linux-5.19.17/arch/x86/entry/vdso/vgettask.c

!linux-5.19.17/arch/x86/kernel/
!linux-5.19.17/arch/x86/kernel/setup.c

!linux-5.19.17/net/
!linux-5.19.17/net/socket.c

!linux-5.19.17/mm/
!linux-5.19.17/mm/memory.c
!linux-5.19.17/mm/page_io.c

!linux-5.19.17/drivers/
!linux-5.19.17/drivers/rdma/


memPkg/mem_page_modify.c

compile_edk.sh
test.sh
error.txt
uefi/
assn6Pkg/RAMfs/ramfs_persist/
assn6Pkg/RAMfs/ramfs/
assn6Pkg/RAMfs/__pycache__/