.vscode/
ubuntu-*
busybox-*
linux-5.19.17/**
linux-6.13.3/
edk2/

!linux-5.19.17/include/
!linux-5.19.17/include/linux/
!linux-5.19.17/include/linux/syscalls.h
!linux-5.19.17/include/linux/sched.h
!linux-5.19.17/include/linux/kv_pair.h
!linux-5.19.17/include/linux/vgettask.h

!linux-5.19.17/kernel/
!linux-5.19.17/kernel/fork.c
!linux-5.19.17/kernel/sys.c
!linux-5.19.17/kernel/exit.c
!linux-5.19.17/kernel/sched/
!linux-5.19.17/kernel/sched/core.c

!linux-5.19.17/fs/
!linux-5.19.17/fs/ramfs/
!linux-5.19.17/fs/ramfs/inode.c
!linux-5.19.17/fs/ramfs/file-mmu.c
!linux-5.19.17/fs/ramfs/file-nommu.c

!linux-5.19.17/arch/
!linux-5.19.17/arch/x86/
!linux-5.19.17/arch/x86/entry/
!linux-5.19.17/arch/x86/entry/syscalls/
!linux-5.19.17/arch/x86/entry/syscalls/syscall_64.tbl

!linux-5.19.17/arch/x86/entry/vdso/
!linux-5.19.17/arch/x86/entry/vdso/vdso.lds.S

!linux-5.19.17/arch/x86/entry/vdso/vgettask.c

!linux-5.19.17/net/
!linux-5.19.17/net/socket.c

memPkg/mem_page_modify.c